@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Merriweather:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;

}
 body {
    background-color: #e7eaf6;
    font-family: Merweather, sans-serif;
    color: rgb(0, 0, 0);
 }
 /* heading and logo style */

 h1, h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #38598b;
 }
 #logo {
   float: left;
   font-size: 270%;
   margin-left: 15px;
 }

/* navigaion style */

 #navbar {
    font-size: 150%;
    letter-spacing: 4px;
 }

 #navbar, #logo {
   line-height: 70px;
}

 #navbar li {
   float: right;
   list-style-type: none;
   margin-right: 30px;
 }

 #navbar a {
   text-decoration: none;
   color: inherit;
 }
 #navbar a:hover {
   border-bottom: 1px solid #113f67;
 }
 .active {
   border-bottom: 1px solid #113f67;
 }

/* add image */

.image-outer {
  height: 500px;
  width: 100%;
  overflow: hidden;
}


#image {
   height: 650px;
   width: 100%;
   background: url('./images/picture22.webp') no-repeat center center;
}
#type {
  height: 600px;
}
/* Title of second page */

#info { 
  margin: 0px;
  padding: 5%;
  text-align: center;
  color: black;
  font-size: 200%;
}

/* create Login form */

form {
  width: 300px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 34%;
  right: -170px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 40px rgb(21, 60, 70);
  padding: 35px 35px;
  color: #113f67;

}
form h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
label {
  display: block;
  font-size: 1em;
  margin-top: 30px;
  font-weight: 500;
}
input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}
::placeholder {
  color: #5e5e5e;
  background-color: #eaf0fb;
}
button {
  width: 100%;
  margin-top: 10px;
  background-color: #a2a8d3;
  color: #38598b;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
form .options {
  display: inline-flex;
  margin-top: 20px;
}
form .options div {
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  text-align: center;
  cursor: pointer;
  color: #113f67;
  background-color: #a2a8d3;
}
form .options div:hover {
  background-color: #a2a8d3;

}
/* info about fountains */

.grid-container {
  display: grid;
  gap: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}


 #box {
 
 }
 
 #box img {
  height: 400px;
  margin: 15px;
  padding: 0 25px  25px 25px;
  width: 600px;
 
 }
  #box h3 {
    margin-left: 15px;
  }
  #box p {
    font-size: 16px;
    line-height: 30px;
    height: 40%;
    padding: 15px 15px 15px 15px;
  }
  #btn {
    background-color:#38598b ;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    float:left;
    margin: 5px;

  }
  #btn:hover {
    background-color: #5e5e5e;
    box-shadow: 0 5px 5px #5e5e5e;
  }
  #fountains-fact {
    height: 600px;
  }
  #left-fact {
    padding-top: 30px;
    width: 33%;
    float: left;
  }
  #right-fact {
    padding-top: 30px;
    width: 33%;
    float: right;
  }
  
  #center-fact {
    width: 33%;
    margin: 0 auto;
  }
  hr {
    border-top: 1px solid #a2a8d3;
    width: 100%;
    margin: 5px 0;
  }
  .left-fact-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
  }
  .right-fact-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
  }
 .right-fact-heading h2 {
  text-align:right;
 }
 .right-fact-heading p {
  text-align: right;
 }
 #welcome {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
 }
 #circle {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 50%;
  margin:0 auto;
  margin-top: 40px;
 }
 #circle-cover {
  background: url('./images/circle3.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
 }