@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Merriweather:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;

}
header {
    color: rgb(6, 46, 80);
    background-image: url('./images/picture1\ -jpeg.jpg');
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    text-align: center;
}

.text {
    font-family: Lato sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: justify;
}

  .header-content {
    font-family: 'Merriweather' sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 30px;
}

/* Navigation links*/

.navbar {
    position: absolute;
    font-size: 110%;
    letter-spacing: 3px;
}
.navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding: 20px;
}


    



 